<div class="container">
    <div class="row">
        <form #traductorForm="ngForm" class="row">

            <!--idiomas para traducir-->

            <div class="row">
                <div class="form-check col col-6 col-md-3 mb-3">
                    <label class="form-check-label" for="op1"><span class="flag flag-it"></span>  Italiano</label>
                    <input class="form-check-input" type="radio" name="traducir" id="op1" value="itin" [(ngModel)]="traductor.idiomaIn">   
                </div>
    
                <div class="form-check col col-6 col-md-3 mb-3">
                    <label class="form-check-label" for="op2"><span class="flag flag-fr"></span>  Francés</label>
                    <input class="form-check-input" type="radio" name="traducir" id=op2 value="frIn" [(ngModel)]="traductor.idiomaIn">
                </div>
    
                <div class="form-check col col-6 col-md-3 mb-3">
                    <label class="form-check-label" for="op3"><span class="flag flag-uk"></span>  Inglés</label>
                    <input class="form-check-input" type="radio" name="traducir" id="op3" value="enIn" [(ngModel)]="traductor.idiomaIn">
                </div>
                <div class="form-check col col-6 col-md-3 mb-3">
                    <label class="form-check-label" for="op4"><span class="flag flag-es"></span>  Español</label>
                    <input class="form-check-input" type="radio" name="traducir" id="op4" value="esIn" [(ngModel)]="traductor.idiomaIn">
                </div>
            </div>

            <!--texto a traducir-->

            <div class="mb-3">
                <textarea class="form-control" rows="7" name="traduccionIn" [(ngModel)]="traductor.traduccionIn"></textarea>
            </div>
            
            <!--Boton--> 
            
            <div class="d-grid gap-2 col-6 mx-auto row row-cols-12 traducir">
                <button type="button" class="btn btn-primary btn-lg" (click)="traducir()">Traducir</button>
            </div>

            <div class="row">
                <div class="form-check col col-6 col-md-3 mb-3">
                    <label class="form-check-label" for="op01"><span class="flag flag-it"></span>  Italiano</label>
                    <input class="form-check-input" type="radio" name="traducido" id="op01" value="itOut" [(ngModel)]="traductor.idiomaOut">   
                </div>
    
                <div class="form-check col col-6 col-md-3 mb-3">
                    <label class="form-check-label" for="op02"><span class="flag flag-fr"></span>  Francés</label>
                    <input class="form-check-input" type="radio" name="traducido" id="op02" value="frOut" [(ngModel)]="traductor.idiomaOut">
                </div>
    
                <div class="form-check col col-6 col-md-3 mb-3">
                    <label class="form-check-label" for="op03"><span class="flag flag-uk"></span>  Inglés</label>
                    <input class="form-check-input" type="radio" name="traducido" id="op03" value="enOut" [(ngModel)]="traductor.idiomaOut">
                </div>
                <div class="form-check col col-6 col-md-3 mb-3">
                    <label class="form-check-label" for="op04"><span class="flag flag-es"></span>  Español</label>
                    <input class="form-check-input" type="radio" name="traducido" id="op04" value="esOut" [(ngModel)]="traductor.idiomaOut">
                </div>
            </div>

            <!--traduccion-->

            <div class="mb-3 traduccion">
                <textarea class="form-control" rows="7" disabled>{{traductor.traduccionOut}}</textarea>
            </div>

            <div class="col col-4 d-flex justify-content-center">
                <button type="button" class="btn btn-primary">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-files" viewBox="0 0 16 16">
                        <path d="M13 0H6a2 2 0 0 0-2 2 2 2 0 0 0-2 2v10a2 2 0 0 0 2 2h7a2 2 0 0 0 2-2 2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zm0 13V4a2 2 0 0 0-2-2H5a1 1 0 0 1 1-1h7a1 1 0 0 1 1 1v10a1 1 0 0 1-1 1zM3 4a1 1 0 0 1 1-1h7a1 1 0 0 1 1 1v10a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V4z"/>
                    </svg>
                    Copiar
                </button>
            </div>

            <div class="col col-4 d-flex justify-content-center">
                <button type="button" class="btn btn-primary">
                    <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="currentColor" class="bi bi-file" viewBox="0 0 16 16">
                        <path d="M4 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H4zm0 1h8a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1z"/>
                    </svg>
                    Limpiar
                </button>
            </div>

            <div class="col col-4 d-flex justify-content-center">
                <button type="button" class="btn btn-primary">
                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-x" viewBox="0 0 16 16">
                        <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
                    </svg>
                    Salir
                </button>
            </div>

        </form>
    </div>
</div>